body {
  /* background-color: #f6f7c1; */
  /* background-color: #a1c688; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ////////////////////////////////////////// */
/* HEADER */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30%;
  align-items: center;
}

header {
  width: 100%;
  background-color: blue;
  margin: 0 auto;
}

.nav-title {
  font-weight: 800;
  border: #fff 3px solid;
  border-right: none;
  border-radius: 10px;
  padding-left: 8px;
}

.title-span {
  background-color: #198754;
  padding: 0px 7px 0px 8px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
  font-weight: 800;
  transform: skew(10deg);
  margin-left: 3px;
}

.input-field {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 6px 6px;
}

.background-image {
  height: 25vh;
  background-image: url(../Images/MicrosoftTeams-image-low-rez.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
}

.search-form {
  display: flex;
}

/* Wrong input */
.wrong-input {
  color: #a9301b;
}

/* ////////////////////////////////////////// */
/* MAIN */
#nutrition-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 30px 5px;
}

.btn-add-list {
  margin-top: 3rem;
}

.food-title {
  background-color: #198754;
  color: #fff;
  padding: 5px;
  margin-bottom: 0;
}

.food-container {
  box-shadow: 1px 1px 2px;
}

.food-container .food-image {
  object-fit: fill;
  margin: 0;
  height: 255px;
  width: min(400px);
}

.food-info {
  box-shadow: 1px 1px 2px;
  height: 298px;
  text-align: center;
  background-color: #fff;
}

.food-info-title {
  background-color: #198754;
  color: #fff;
  margin: 0;
  padding: 5px;
  width: 100%;
}

.food-info-title span {
  font-size: 15px;
  font-weight: bold;
}

.informations {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.informations li {
  width: 100px;
}

.nutritional-info {
  display: flex;
  flex-direction: column;
}

#macroInfo {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.macro {
  font-weight: 600;
  color: #fff;
}

.carbs {
  background-color: #135d3a;
  padding: 10px 20px;
  border-radius: 5px;
}

.fat {
  background-color: rgb(218, 167, 36);
  padding: 10px 20px;
  border-radius: 5px;
}

.protein {
  background-color: #a9301b;
  padding: 10px 20px;
  border-radius: 5px;
}

/* FOOD LIST */
#food-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem 5rem;
  /* background-image: linear-gradient(
      to bottom,
      rgba(30, 30, 30, 0.192),
      rgba(0, 0, 0, 0.45)
    ); */
  background-image: url(../Images/MicrosoftTeams-image-low-rez.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-title {
  text-align: center;
  background-color: #198754;
  color: #fff;
}

/*Smartphone screen*/
@media (max-width: 480px) {
  .hero {
    flex-direction: column;
  }

  .food-info {
    height: auto;
    width: 100%;
  }
  #nutrition-container {
    padding-bottom: 0;
  }
  .btn-add-list {
    margin-bottom: 12px;
  }
}

/*Tablet/Ipad*/
@media (max-width: 850px) {
  .hero {
    gap: 4%;
  }

  .food-info {
    margin-top: 2rem;
    box-shadow: none;
  }

  #nutrition-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
